.tab {
  position: relative;
  background-color: var(--secondary-background);
  border: 1px solid var(--color-palette-1-1);
  border-radius: 8px 0 0 8px; /* Adjust border radius for the left corners */
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.tab:hover {
  background-color: var(--secondary);
}

.tab.active {
  background-color: var(--color-palette-1-4);
  color: var(--background-text)
  font-weight: bold;
}
